*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  --bg-color: linear-gradient(135deg, #dbeafe 0%, #ffffff 100%);
  --text-color: #000000;
  --hover-bg-color: linear-gradient(135deg, #cce4ff 0%, #f0f9ff 100%);

  --border-radius: 12px;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
  transition: background 0.39s ease, color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: var(--bg-color);
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}
button:hover {
  background: var(--hover-bg-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dark {
  --bg-color: linear-gradient(135deg, #001f3f 0%, #0d0d0d 100%);
  --text-color: #ffffff;
  --hover-bg-color: linear-gradient(135deg, #002952 0%, #1a1a1a 100%);
}

#app {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Estilo común para las tarjetas */

/* Tema claro */
@media (prefers-color-scheme: light) {
  :root {
    --card-background: white;
    --card-text: black;
  }
}

/* Tema oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --card-background: #333;
    --card-text: white;
  }
}
